<form id="filterForm">
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="fromDate">From Date</label>
            <input type="text" class="form-control datepicker" id="fromDate" name="fromDate" />
        </div>
        <div class="col-md-3 mb-3">
            <label for="toDate">To Date</label>
            <input type="text" class="form-control datepicker" id="toDate" name="toDate" />
        </div>
        <div class="col-md-3 mb-3">
            <label for="count">Post Count</label>
            <input type="text" class="form-control" id="count" name="count" />
        </div>
        <div class="col-md-3 mb-3">
            <label>&nbsp;</label>
            <button type="button" class="btn btn-primary" onclick="updateTable()">Apply Filters</button>
        </div>
    </div>
</form>