
<form id="filterForm" class="m-3">
    <div class="row d-flex justify-content-center ml-3 mr-3">
        <div class="col-4 mb-3">
            <label for="fromDate">From Date</label>
            <input type="text" class="form-control datepicker w-75" id="fromDate" name="fromDate" />
            <span id="dateFromError" class="text-danger"></span>
        </div>
        <div class="col-4 mb-3">
            <label for="toDate">To Date</label>
            <input type="text" class="form-control datepicker w-75" id="toDate" name="toDate" />
        </div>
        <div class="col-4 mb-3">
            <label for="count">Post Count</label>
            <input type="text" class="form-control w-auto" id="count" name="count" />
            <span id="countError" class="text-danger"></span>
        </div>
    </div>
    <div class="row d-flex justify-content-center ml-3 mr-3">
        <div class="col-4 mb-3">
            <label for="group">Group</label>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="groupDropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="groupDropdown">
                    <a class="dropdown-item" href="#" data-bs-value="DFL">DFL</a>
                    <a class="dropdown-item" href="#" data-bs-value="EPL">EPL</a>
                    <a class="dropdown-item" href="#" data-bs-value="Bundesliga 1">Bundesliga 1</a>
                    <a class="dropdown-item" href="#" data-bs-value="Bundesliga 2">Bundesliga 2</a>
                </div>
            </div>
            <input type="hidden" id="group" name="group" value="DFL" />
        </div>
        <div class="col-4 mb-3"></div>
        <div class="col-4 mb-3 d-flex align-items-end justify-content-center">
            <button type="button" class="btn btn-primary" style="background: #0176ac;" onclick="validateAndUpdateTables()">Apply Filters</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var twoWeeksAgo = new Date();
        var today = new Date();
        twoWeeksAgo.setDate(twoWeeksAgo.getDate() - 14);

        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
        $('#fromDate').datepicker('setDate', twoWeeksAgo);
        $('#toDate').datepicker('setDate', today);
        $('#count').val(100);

        $('#groupDropdown').text($('#group').val());

        $('.dropdown-item').on('click', function () {
            var selectedValue = $(this).data('bs-value');
            $('#groupDropdown').text(selectedValue);
            $('#group').val(selectedValue);
        });
    });

     function validateAndUpdateTables() {
        $('#countError').text('');
        $('#dateFromError').text('');

        var count = $('#count').val();
        if (isNaN(count) || count <= 10) {
            $('#countError').text('Count must be greater than 10.');
            return; 
        }

        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();
        if (!isValidDateFormat(fromDate) || !isValidDateFormat(toDate)) {
            return;
        }

        if (new Date(fromDate) >= new Date(toDate)) {
            $('#dateFromError').text('The \"From\" date must be before the \"To\" date');
            return;
        }

        updateTables();
    }

    function isValidDateFormat(dateString) {
        return true;
    }
</script>