<style>
    tr { height: 45px; }
    td, th { vertical-align: middle; }
    th { white-space: nowrap; }
    .row .btn { padding: 10px 20px 10px 20px; }
    .datepicker, .form-control { padding: 10px; }
    img { height: 30px; }
    body > div.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom > div.datepicker-days > table > thead > tr,
    body > div.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom > div.datepicker-days > table > tfoot > tr {
        height: 5px;
    }
    body > div.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom > div.datepicker-days > table {
        margin: 8px 24px 8px 24px;
    }
</style>
<div class="container-fluid p-0">
    <div class="p-4">@Html.Partial("FilterForm")</div>
    @Html.Partial("TabView")
</div>