@model int;

<table id="v@(Model)table" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Insert Time</th>
            <th>Type</th>
            <th>From</th>
            <th>URL</th>
            <th>KeywordName</th>
            <th>Reach</th>
            <th>SourceReach</th>
            <th>Interaction</th>
            <th>InfluenceScore</th>
            <th>LikeCount</th>
            <th>CommentCount</th>
            <th>ShareCount</th>
            <th>Virality</th>
            <th>AutoSentiment</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>