<style>
    #v1table_wrapper, #v2table_wrapper { margin: 16px 0 15vh 0; }
    .even-row { background-color: #ffffff !important;}
    .odd-row { background-color: #f2f2f2 !important; }
    .data-unavailable { background-color: #f09085 !important;}
</style>

<div id="tab-view" class="tab-view">
    <ul class="nav nav-tabs d-flex" style="font-weight: 600;" id="postsTabs">
        <li class="p-2">Determ API:</li>
        <li class="nav-item">
            <a class="nav-link active" id="v1Tab" data-toggle="tab" href="#v1">V1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="v2Tab" data-toggle="tab" href="#v2">V2</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="v1">
            @Html.Partial("TabContent", 1)
        </div>
        <div class="tab-pane fade" id="v2">
            @Html.Partial("TabContent", 2)
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var twoWeeksAgo = new Date();
        var today = new Date();
        twoWeeksAgo.setDate(twoWeeksAgo.getDate() - 14);

        $('#fromDate').datepicker('setDate', twoWeeksAgo);
        $('#toDate').datepicker('setDate', today);
        $('#count').val(10);

        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    
        setupDetermTable(1);
        setupDetermTable(2);
        
        initTabs();
    });

    function initTabs() {
         $('#postsTabs a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    }

    function updateTables() {
        $(`#v1table`).DataTable().destroy();
        $(`#v2table`).DataTable().destroy();
        setupDetermTables();
    }

    function setupDetermTables() {
        setupDetermTable(1);
        setupDetermTable(2);
    }

    function setupDetermTable(id) {
        var fromDate = $('#fromDate').val();
        var from = Math.floor(new Date(fromDate).getTime() / 1000);
        
        var toDate = $('#toDate').val();
        var to = Math.floor(new Date(toDate).getTime() / 1000);
        
        var count = $('#count').val();

        var groupId = getGroupId($('#group').val());

        console.log(`setting up V${id}table calling request with from: ${from}, to: ${to}, group: ${groupId}, count ${count}`);

        $(`#v${id}table`).DataTable().destroy();

        $(`#v${id}table`).DataTable({
            ajax: {
                url: '/TabContent/LoadData/',
                type: 'POST',
                data: { from: from, to: to, count: count, groupId: groupId, id: id },
                dataSrc: ''
            },
            columns: [
                {
                    data: 'id', render: function (data, type, row, meta) {
                        return data;
                    }
                },
                {
                    data: 'thumbnail',
                    className: 'text-center',
                    render: function (data, type, row, meta) {
                        if (data != null) {
                            return '<img src="' + data + '" alt="N/A" />';
                        } else {
                            return "N/A"
                        }
                    }
                },
                {
                    data: 'title',
                    render: function (data, type, row, meta) {
                        if (data != null) {
                        return '<div class="text-truncate" style="max-width: 200px;">' + data + '</div>';
                        } else {
                            return "N/A"
                        }
                    }
                },
                {
                    data: 'insertTime',
                    render: function (data, type, row, meta) {
                        return '<div style="white-space: nowrap;">' + moment.unix(data).format('YYYY.MM.DD HH:mm') + '</div>';
                    }
                },
                { data: 'type' },
                { data: 'from',
                    render: function (data, type, row, meta) {
                        if (data != null) {
                            return `<div class="text-truncate" style="max-width: 100px;">${data}</div>`; 
                        } else { 
                            return "N/A";
                        }
                    }
                },
                {
                    data: 'url',
                    render: function (data, type, row, meta) {
                        if (data != null) {
                            return `<div class="text-truncate" style="max-width: 200px;"><a href="${data}" target="_blank">${data}</a></div>`;
                        } else {
                            return "N/A"
                        }
                    }
                }
            ], rowCallback: function (row, data, index) {
                if (data["url"] == null) {
                    $(row).addClass('data-unavailable');
                } else if (index % 2 == 0) {
                    $(row).addClass('even-row');
                } else {
                    $(row).addClass('odd-row');
                }
            },
            lengthChange: false,
            paging: false,
            info: true,
            order: [[3, 'desc']],
            dom: 'Bfrtip',
            buttons: [ 'excel' ],
            initComplete: function (settings, json) {
                console.log(json);
            }
        });
    }
</script>